<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text">Find your Representative</h5>
            <p class="grey-text">Become informed in order to enact the system of government that embodies the ideals of We, the people of the United States. People over party.</p>
          </div>
          <div class="col l4 offset-l2 s12 grey-text">
            <h5>Links</h5>
            <ul>
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright center-align">
        <div class="container">
        © 2017, BLXSTATE REP | PO BOX 380970, Duncanville, TX 75138.
        </div>
      </div>
    </footer>
