<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="teal-text text-darken-4">Find your Representative</h5>
            <p class="teal-text text-darken-4">Become informed in order to enact the system of government that embodies the ideals of We, the people of the United States. People over party.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="teal-text text-darken-4">Links</h5>
            <ul>
              <li><a class="teal-text text-darken-4" ui-sref="home">Home</a></li>
              <li><a class="teal-text text-darken-4" ui-sref="about">About</a></li>
              <li><a class="teal-text text-darken-4" ui-sref="feedback">Feedback</a></li>
              <li><a class="teal-text text-darken-4" ui-sref="contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Represent
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
