<div class="page">
  <h1>What We Do</h1>
    <p>We help government deliver services to the public better using the tools and practices of the digital age. And we organize a network of people dedicated to spreading these practices in government for the benefit of all Americans.</p>

    <p>Since 2011, we’ve worked with thousands of tech industry professionals to help 100+ local governments serve their communities better.  Now we're working with government to make the most of our tax dollars to help millions of underserved Americans.</p>
</div>
